<div class="app_main">
	<h1>file upload Directive for Angular</h1>
	<input id="pic_file" type="file" class="file" name="file" multiple
		   [eNgxFileUpload]="fileInputOpts"
		   (ready)="ready($event)"
		   (filebatchuploadcomplete)="filebatchuploadcomplete($event)"
		   (filebatchuploaderror)="filebatchuploaderror($event)"
		   (fileuploaded)="fileuploaded($event)"
		   (fileuploaderror)="fileuploaderror($event)"
		   (fileclear)="fileclear($event)"
		   (filereset)="filereset($event)"
		   (filepreupload)="filepreupload($event)">
</div>
